body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
} 
.boton { 
    width: 100%;
   }
.banner{
    width: 100%;
    max-width: 800px;
}   
.container{
    margin: auto;
    width: 90%;
    border: 3px solid green;
    padding: 10% 1% 1% 1%;
    max-width: 800px;
  }